# Dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Logs
*.log

# Environment variables / secrets
.env
.env.*
!.env.example

# Generated / temporary files
structure.txt

# macOS / IDE
.DS_Store
.vscode/
.idea/**/node_modules/
build/
